/*Body Styles*/

body {
  background-color: #C6D6EC;
	background-image: url(http://www.transparenttextures.com/patterns/subtle-grey.png);
	margin: 0px;
}

.content {
	width: 300px;
  background: #005094;
}

#logo {
	margin-top: 18px;
	width: 300px;
}

/*Primary Header*/
h1 {
  font-family: 'Montserrat', sans-serif;
	color: #fff;
	margin-bottom: 0px;

}

/*Body Text*/

p {
  font-family: 'Raleway', sans-serif;
	line-height: 1.75em;
	color: #C6D6EC;
}

em {
	color: #C6D6EC;
	margin-top: 10px;
}

h2, h3 {
  font-family: 'Raleway', sans-serif;
	color: #fff;
}

/*Links*/
a:link,
a:visited {
	text-decoration: none;
	color: #fff;
}
a:hover,
a:active {
	color: #C6D6EC;
	transition: color .5s;
}

/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0 0 4px 0;
}

.colors {
  padding: 30px 30px 0px 30px;
}

.patterns {
  padding: 0px 30px 5px 30px;
}

.text {
  padding: 100px 20px 20px 20px;
}


/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
  box-shadow: 2px 2px 5px #000;
	float: left;
	margin: 0 10px 8px 10px;
	height: 50px;
	width: 50px;
}

/*Color Pallette*/
.color-1 {
	background: #005094;
}

.color-2 {
	background: #C6D6EC;
}

.color-3 {
	background: #fff;
}

/*Textures*/

.pattern-1 {
	background-color: #005094;
	background-image: url(http://www.transparenttextures.com/patterns/argyle.png);
}

.pattern-2 {
	background-color: #C6D6EC;
	background-image: url(http://www.transparenttextures.com/patterns/subtle-grey.png);
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.pattern-3 {
	background-color: #fff;
	background-image: url(http://www.transparenttextures.com/patterns/escheresque-dark.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}